@font-face {
    font-family: 'Poppins'; 
    src: url('../fonts/Poppins-Medium.ttf'); 
} 
html {
    scroll-behavior: smooth;
}
body, p{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
} 

a{
    color:white;
    text-decoration: none;
}
button{
    cursor: pointer;
}
h3{
    margin: 0;
    color: white;
}
.container{
   min-height: 100vh;
   max-width: 100%;
   background: rgba(22,24,22,100);
   display: flex;
   flex-direction: column;
} 
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
}
header, footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%; 
    height: 60px;
    font-size: 16px;
    background: rgba(22,24,22,100);
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(26,31,25,100) 10%, rgba(18,68,12,1) 50%, rgba(26,31,25,100) 100%);
}
.main-description {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 95%; 
    height: 350px;
    color: white;
    background: rgba(22,24,22,100);
    margin: 10px 0;
    border-radius: 10px;

}
#catalog {
    display: flex;
    width: 100%;
}
.catalog__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header, .footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heart-red{
    font-size: 16px;
    color: red;
}
.font-black{color: black;}
.border-black{border: black;}
.bg-color-white{background-color: white;}
.d-none{display: none;}
.d-iblock{display: inline-block;}
/*header*/    
.nameShop{font-size: 18px;}
.menu{
    display: flex;
    column-gap: 40px;
}
.cartImg{
    position: relative;
}
.cartImg img{
    width: 40px;
    cursor: pointer;
}
#countCart{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF0033;
    color: white;
    border: none;
    position: absolute;
    padding: 0;
    font-size: 12px;
    top: -7px;
    left: -9px;
}

/*footer*/
.footerMenu{
    width: 100%;
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.contact{
    display: flex;
    column-gap: 5px;
}
.contactsSize{
    transition: all 0.4s;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
    overflow: hidden;
    background-position: center center;
    opacity: 0.6;
}
#info{font-size: 12px;}

/*основная часть*/

#containerPage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}
.card{
    width: 200px;
    height: 300px;
    padding: 10px 12px 10px;
    background: rgba(22,24,22,100);
    margin: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s;
}
.cardID{
    width: 400px;
    height: 450px;
    padding: 10px 12px 10px;
    background-color: white;
    margin: 7px;
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card img{width: 150px;}
.cardID img{    
    max-height: 70%;
    max-width: 100%;
}
.cardImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}
.cardImgID{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}     
.description{
    position: relative;
    padding: 5px 0 5px;
    text-align: center;
}
#name{
    padding: 5px 0;
    color: #dcdcdc;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#nameVisible{
    display: none;
    position: absolute;
    top: 24px;
    padding: 10px 0 10px;
    color: #dcdcdc;
    height: auto;
    background-color: white;
}
.title{
    padding: 10px 0 10px;
    text-align: center;
    color: #dcdcdc;
    height: auto;
    background-color: white;
}
.rating{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    column-gap: 10px;
    padding: 0 0 10px;
}
.btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}    
.cartAdd{
    background: #339966;
    transition: all 0.3s;
}
.cartDelete{
    background: #FF0033;
    transition: all 0.3s;
}
.cartBtn{
    width: 150px;
    height: 33px;
    border-radius: 12px;
    color: white;
    border: none;
}
.heart, .heartRed{
    height: 25px;
    width: 25px;
    text-align: center;
    background: none;
    border: none;
}
.heart{font-size: 24px;}
.heartRed{
    font-size: 20px;
    color: red;
}
.contacts a{
    display: block;
    margin: 10px;
}
.border-black{border: 3px solid black;}
.ta-center{text-align: center;}
/*hover*/

.contactsSize:hover{opacity: 1;}

.description:hover #nameVisible{display: block;}
.card:hover, .cardID:hover{box-shadow: 0 0 15px 0 rgba(0, 255, 0, 0.35);}
.cartAdd:hover{
    box-shadow: 0 0 15px 0 rgb(0, 255, 0, 35%);
    transform: translateY(-2px);
}
.cartDelete:hover{
    box-shadow: 0 0 15px 0 rgb(255, 0, 0, 80%);
    transform: translateY(-2px);
}


/* @media (max-width: 850px){
    body, footer, header{font-size: 12px;}
    #containerCards{width:100%;}
    #containerPage{width:100%;}
    .card{
        width: 130px;
        height: 270px;
    }
    .card img{width: 100px;}
    .cardImg{height: 150px;}
    .cartBtn{
        width: 80px;
        height: 25px;
    }
    .heartRed, .heart{font-size: 18px;  }
} */
@media (max-width: 650px){
    .footerMenu, .header, .menu{
        align-items: center;
        flex-direction: column;
    }
    .contact{padding-top: 5px;}
    .cartImg{padding-top: 10px;}
    #countCart{top: 2px;}
    #info{text-align: center;}
    footer, header{height: auto;}

}
@media (max-width: 600px){
    .card {
        width: 200px;
        height: 250px;
        margin: 10px;
    }
    .card img{width: 120px;}
    .cardImg{height: 150px;}
    .cartBtn{
        height: 25px;
    }
    #name {
        font-size: 13px;
    }
    h3 {
        font-size: 14px;
    }

}
@media (max-width: 540px){
    .card {
        margin: 10px 1px;
    }
}
@media (max-width: 490px){
    .card {
        height: 300px;
        width: 250px;
    }
    .card img{width: 150px;}
    .cardImg{height: 200px;}
    .cartBtn{
        width: 150px;
        height: 33px;
    }
}